body {
    width: 100%;
    height: 100%;
    position: relative;
}
#duanluo {
    position: absolute;
    left: calc(50% - 300px);
    background-color: blue;
    width: 600px;
    height:270px;
}

p{
    margin:0;
    word-spacing:-2px;
    font-size:3px;
    color:white;
}