body
{
}
.box{
    margin:auto;
    width:600px;
    height:606px;
    background-color:blue;
    padding:0;
    
    
}
img{
    margin-left:20px;
    margin-bottom:20px;
}
p{
    color:white;
    margin:0;
}
