body
{
}

#box1 {
    margin:0 auto 50px;
    width: 600px;
    height: 255px;
    background-color: forestgreen;
}
#box2 {
    margin:0 auto;
    width: 800px;
    height: 383px;
    padding:50px;
    background-color: blue;
}
p{
    color:white;
}